.game_main {
  height: 1000px;
  background-image: URL(/img/bg_stage.png);
}

.dice_button {
  width: 10%;
  height: 10%;
  background-color: red;
  position: absolute;
  top: 40%;
  left: 40%;
}

.confirm_box {
  width: 300px;
  height: 100px;
  background-color: brown;
  position: absolute;
  top: 30%;
  left: 15%;
  display: none;
}